<%= form_with(model: box, local: true) do |form| %>
  <% if box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label '名前' %>
    <%= form.text_field :name, id: :box_name %>
  </div>

  <div class="field">
    <%= form.label '識別名' %>
    <%= form.text_field :tagname, id: :box_tagname %>
  </div>

  <div class="field">
    <%= form.label '価格' %>
    <%= form.number_field :price, id: :box_price %>
  </div>

  <div class="field">
    <%= form.label '内容' %>
    <%= form.text_area :content, id: :box_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
